<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<main>
		<h1>Blog Title</h1>
		<h5>Publisher</h5>
		<h6>Date</h6>
		<p>Tags</p>
		<p>Blog Text</p>
		
		<textarea></textarea>
		<button>Add Comment</button>
		
		<div>
			Comments:
			<div>comments made by users</div>
		</div>
	</main>
</body>