<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{nav/base :: head}">    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color:#ededed">
<nav th:replace="~{nav/base :: nav}" ></nav>
<main class="main-form">
<div class="container">
	<div class="row">
	<div class="col-md-12 mx-auto">
	<div class="card card-signin my-5">
	<div class="card-body">
	<h5 class="card-title text-center">Edit Blog</h5>
	
    <form method="post">
	    <div class="container">
	    	<div class="row">
		        <p hidden><input type="text" name="id" id="id" th:value="${blog.Id}"/></p>
		        <p hidden><input type="text" name="authorID" id="authorID" th:value="${blog.authorID}"/></p>
		        <div class="col-md-12" style="margin-bottom:10px;">
		        	<h5>Title:</h5> <input type="text" name="blogName" id="blogName" th:value="${blog.BlogName}"/>
		        </div>
		        <div class="col-md-12">
		        <h5>Body:</h5>
		        <textarea name="blogBody" id="blogBody" rows="10" cols="130" th:text="${blog.BlogBody}" ></textarea>
		        
		        </div>
		        <div class="col-md-4"></div>
            		<div class="col-md-4 text-center" style="text-align: center">
            		<input type="submit" value="Update" class="btn btn-lg btn-primary btn-block text-uppercase text-center" style="width: 200px;"></div>
	        </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>



</main>
</body>
</html>