<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div>
<!--        <select th:field="*{tagList}">-->
<!--            <option value="0">select tag</option>-->
<!--            <option th:each="${tagList}" th:value="${tagList.id}" th:text="${tagList.name}"/>-->
<!--        </select>-->

        <div th:each="current : ${tagList}">
            <div>Hello</div>
           <div th:text="${current.id}"></div>
        </div>





    </div>


</main>
</body>
</html>