<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<main>
    <div>

        <form method="post">
                <div>
                    <h2>Blog Title:</h2>
                    <input type="text" name="blogName" id="blogName"/>
                </div>
                <div>
                    <h2>Tags:</h2>
                    <select name="tags" id="tags" size="5" multiple>
                        <optgroup h2="Select Tags for the blog post:">
                        <div th:each="current:${tagList}">
                            <option> <div th:text="${current.name}"></div></option>
                        </div>
                        </optgroup>
                    </select>
                    <h2>Permission:</h2>
                    <select name="permission" id="permission" size = 3>
                        <option default>None</option>
                        <option>Private</option>
                        <option>Sensitive</option>
                    </select>
                </div>
                <div>
                    <br>
                    <textarea name="blogBody" id="blogBody" rows="30" cols="60"></textarea>
                </div>
            <input type="submit">
        </form>
    </div>


</main>
</body>
</html>