<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{nav/base :: head}">    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color:#ededed">
<nav th:replace="~{nav/base :: nav}" ></nav>
<main class="main-form">
    <div class="container">
	<div class="row">
	<div class="col-md-12 mx-auto">
	<div class="card card-signin my-5">
	<div class="card-body">
	<h5 class="card-title text-center">Create Blog</h5>
        <form method="post">
                <div class="container">
                	<div class="row">
                		<div class="col-md-12" style="margin-bottom:10px;">
		                    <label>Blog Title:</label>
		                    <input type="text" name="blogName" id="blogName" class="form-control" style="width:50%"/>
	                    </div>
               		<div class="col-md-12" style="margin-bottom:10px;">
	                    <label>Tags:</label>
	                    <select name="tags" id="tags" size="5" multiple class="form-control" style="width:50%">
	                        <optgroup h2="Select Tags for the blog post:">
	                        <div th:each="current:${tagList}">
	                            <option> <div th:text="${current.name}"></div></option>
	                        </div>
	                        </optgroup>
	                    </select>
                     </div>
               		<div class="col-md-12" style="margin-bottom:10px;">
	                    <label>Permission:</label>
	                    <select name="permission" id="permission" size = 3 class="form-control" style="width:50%">
	                        <option default>None</option>
	                        <option>Private</option>
	                        <option>Sensitive</option>
	                    </select>
               		</div>
                	<div class="col-md-12" style="margin-bottom:10px; ">
                		<label>Blog Text</label>
                    	<textarea name="blogBody" id="blogBody" rows="10" cols="130" class="form-control"></textarea>
                	</div>
                	<div class="col-md-4"></div>
            		<div class="col-md-4 text-center" style="text-align: center"><input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase text-center" style="width: 200px;"></div>
            </div>
        </form>
        </div>
         </div>
         </div>
    </div>
    </div>


</main>
</body>
</html>