<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{nav/base :: head}">
    <meta charset="UTF-8">
    <title>HomePage</title>
    
</head>
<body>
<main>
	<nav th:replace="~{nav/base :: nav}"></nav>
	<div class="jumbotron" style="text-align: center;">
	  <h2 th:text="${blog.BlogName}"></h2>
	  <h4 th:text="${author.UserName}"></h4>
	</div>
    
    
    <div class="container">
    	<div class="row">
    		<div class="col-sm-12">
    			<div th:text = "${blog.BlogBody}"></div>
   			</div>
    	</div>
    </div>

    <div th:switch="${userIsAuthor}">
        <p th:case=true><a th:href="@{../editBlog/{id}(id=${blog.Id})}">Edit</a></p>
    </div>


==========================================
                COMMENTS
==========================================

    <div th:each="current:${comments}">

        <div class="post">

            <div th:text="${current.commentBody}"></div>
        </div>

    </div>


    ==========================================
    NEW COMMENTS
    ==========================================

    <div th:switch="${userCanComment}">
        <form method="post">
            <input hidden type="text" name="blogID" id="blogID" th:value="${blog.Id}" readonly/>
            <input hidden type="text" name="commentorID" id="commentorID" th:value="${user.Id}" readonly/>
            <textarea name="commentBody" id="commentBody" rows="15" cols="120"></textarea>
            <input type="submit">
        </form>
    </div>

</main>
</body>
</html>