<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{nav/base :: head}">
    <meta charset="UTF-8">
    <title>HomePage</title>
    
</head>
<body>
<main>
	<nav th:replace="~{nav/base :: nav}"></nav>
	<div class="jumbotron" style="text-align: center;">
	  <h2 th:text="${blog.BlogName}"></h2>
	  <h4 th:text="${author.UserName}"></h4>
	</div>
    
    
    <div class="container">
    	<div class="row">
    		<div class="col-sm-12">
    			<div th:text = "${blog.BlogBody}"></div>
   			</div>
    	</div>
    </div>

    <div th:switch="${userIsAuthor}">
        <p th:case=true><a th:href="@{../editBlog/{id}(id=${blog.Id})}">Edit</a></p>
    </div>



<div class="container">
	<div class="row">
	
		<div class="col-md-12 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Comments</h5>
            <div th:each="current:${comments}" style="text-align: center; margin-bottom:10px;">
				 <div class="card card-white post">
				<div class="post-heading" style="padding: 20px; background-color: #ededed">
                    
                    <div class="float-left meta">
                        <div class="title h5">
                            User commented
                        </div>
                        <div class="post post-description">
		
		            		<div th:text="${current.commentBody}"></div>
		        		</div>
                    </div>
                </div> 
                
		        
		        </div>
		
		    </div>
		    <div>
		    <hr>
		    <div class="container">
		    	<div class="row">
		    	<div class="col-md-12">
		    	
          		<h6 class="card-title text-center">Leave a Comment</h6>
				    <form method="post">
		                <div th:switch="${userCanComment}">
		                    <p th:case=true>
		                        
				                <input hidden type="text" name="blogID" id="blogID" th:value="${blog.Id}" readonly/>
				                <input hidden type="text" name="commentorID" id="commentorID" th:value="${user.Id}" readonly/>
				                <textarea name="commentBody" id="commentBody"  cols="130" class="form-control"></textarea>
				                
		                    </p>
		                    <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase " style="width: 200px;">
		                </div>
		            </form>
		            
		            </div>
            	</div>
            </div>
            
        </div>
        </div>
        </div>
    
</div>
	</div>
</div>

    





            


</main>
</body>
</html>