<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<main>
		<form method="post">
			<table>
				<tr>
					<label>First Name</label> <input type="text" name="FirstName">
					<div hidden="true">Invalid First Name</div><br>
				</tr>
				<tr>
					<label>Last Name</label> <input type="text" name="LastName">
					<div hidden="true">Invalid Last Name</div><br>
				</tr>
				<tr>
					<label>Username</label> <input type="text" name="UserName">
					 <div hidden="true">Invalid Username</div> <br>
				</tr>
				<tr>
					<label>Password</label> <input type="password" name="Password">
					<div hidden="true">Invalid Password</div><br>
				</tr>
				<tr>
					<input type="submit">
				</tr>
			</table>
		</form>
	</main>
</body>