<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{nav/base :: head}">
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
	<nav th:replace="~{nav/base :: nav}" ></nav>
    <main>
		<div class="container" style="margin-top: 20px;">
		<form th:action="@{/}" method="get">
			<select name="tag" id="tag" th:value="*{tag}" size="5">
				<optgroup h2="Select Tags for the blog post:">
					<div th:each="current:${tagList}">
						<option> <div th:text="${current.name}"></div></option>
					</div>
				</optgroup>
			</select>
			<input type="submit">
		</form>
		<div th:each="current:${blogList}">

				<div class="post">
					<a th:href="@{blog/readBlog/{id}(id=${current.BlogID})}">
						<h1 th:text="${current.blogName}"></h1>
					</a>

					<div th:text="${current.blogBody}"></div>
				</div>
							<hr>
				
			</div>
			<div class="container text-center" style="text-align: center; margin-bottom: 20px;">
				<div class="row">
					<div class="col-md-3 pagination text-left">
						<p class="previous page-item "><a th:href="@{${pageNo}(pageNo=${prevPage})}" class="page-link">Previous Page</a></p>
					</div>
					<div class="col-md-6"></div>
					<div class="col-md-3 pagination">
						<p class="next page-item text-right" style="text-align: right"><a th:href="@{${pageNo}(pageNo=${nextPage})}" class="page-link text-right">Next Page</a></p>
					</div>
				</div>
			</div>
			
			




			
		</div>
		
    </main>
</body>
</html>