<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{nav/base :: head}">
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
	<nav th:replace="~{nav/base :: nav}" ></nav>
    <main>
		<div class="container" style="margin-top: 20px;">
			<div class="row">
				<div class="col-md-12" th:each="current:${blogList}">
		
						<div class="post">
							<a th:href="@{blog/readBlog/{id}(id=${current.BlogID})}">
								<h1 th:text="${current.blogName}"></h1>
							</a>
							<div th:text="${current.blogBody}"></div>
						</div>
						<hr>
				</div>
			</div>
		</div>
    </main>
</body>
</html>